.carrusel{
    width: 1500px;
    height: 800px;
    margin: auto;
    background-color: #171a1d;
    border-radius: 10px;
}

.imgSlide{
    display: block;
    margin: 0 auto 150px auto;       /* centra la imagen horizontalmente */
    max-height: 70vh;     /* evita que tape todo */
    object-fit: contain;  /* mantiene proporción */
}